In [103]:
import pandas as pd
import plotly.express as px

## Standartization

In [104]:
df = pd.read_csv("data/BankChurners.csv")

In [105]:
columns = df.columns.to_list()

for c in columns:
    print(c)
    print(df[c].nunique())
    print(df[c].unique())
    print("-------------------------")

CLIENTNUM
10127
[768805383 818770008 713982108 ... 716506083 717406983 714337233]
-------------------------
Attrition_Flag
2
['Existing Customer' 'Attrited Customer']
-------------------------
Customer_Age
45
[45 49 51 40 44 32 37 48 42 65 56 35 57 41 61 47 62 54 59 63 53 58 55 66
 50 38 46 52 39 43 64 68 67 60 73 70 36 34 33 26 31 29 30 28 27]
-------------------------
Gender
2
['M' 'F']
-------------------------
Dependent_count
6
[3 5 4 2 0 1]
-------------------------
Education_Level
7
['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
-------------------------
Marital_Status
4
['Married' 'Single' 'Unknown' 'Divorced']
-------------------------
Income_Category
6
['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'Unknown']
-------------------------
Card_Category
4
['Blue' 'Gold' 'Silver' 'Platinum']
-------------------------
Months_on_book
44
[39 44 36 34 21 46 27 31 54 30 48 37 56 42 49 33 28 38 41 43 45 52 40 50
 35 47 32 20 29 25 53 24 55 23 22 26 13 51 19 15 17 18 16 14]
-------------------------
Total_Relationship_Count
6
[5 6 4 3 2 1]
-------------------------
Months_Inactive_12_mon
7
[1 4 2 3 6 0 5]
-------------------------
Contacts_Count_12_mon
7
[3 2 0 1 4 5 6]
-------------------------
Credit_Limit
6205
[12691.  8256.  3418. ...  5409.  5281. 10388.]
-------------------------
Total_Revolving_Bal
1974
[ 777  864    0 ...  534  476 2241]
-------------------------
Avg_Open_To_Buy
6813
[11914.  7392.  3418. ... 11831.  5409.  8427.]
-------------------------
Total_Amt_Chng_Q4_Q1
1158
[1.335 1.541 2.594 ... 0.222 0.204 0.166]
-------------------------
Total_Trans_Amt
5033
[ 1144  1291  1887 ... 10291  8395 10294]
-------------------------
Total_Trans_Ct
126
[ 42  33  20  28  24  31  36  32  26  17  29  27  21  30  16  18  23  22
  40  38  25  43  37  19  35  15  41  57  12  14  34  44  13  47  10  39
  53  50  52  48  49  45  11  55  46  54  60  51  63  58  59  61  78  64
  65  62  67  66  56  69  71  75  74  76  84  82  88  68  70  73  86  72
  79  80  85  81  87  83  91  89  77 103  93  96  99  92  90  94  95  98
 100 102  97 101 104 105 106 107 109 118 108 122 113 112 111 127 114 124
 110 120 125 121 117 126 134 116 119 129 131 115 128 139 123 130 138 132]
-------------------------
Total_Ct_Chng_Q4_Q1
830
[1.625 3.714 2.333 2.5   0.846 0.722 0.714 1.182 0.882 0.68  1.364 3.25
 2.    0.611 1.7   0.929 1.143 0.909 0.6   1.571 0.353 0.75  0.833 1.3
 1.    0.9   2.571 1.6   1.667 0.483 1.176 1.2   0.556 0.143 0.474 0.917
 1.333 0.588 0.8   1.923 0.25  0.364 1.417 1.083 1.25  0.5   1.154 0.733
 0.667 2.4   1.05  0.286 0.4   0.522 0.435 1.875 0.966 1.412 0.526 0.818
 1.8   1.636 2.182 0.619 0.933 1.222 0.304 0.727 0.385 1.5   0.789 0.542
 1.1   1.095 0.824 0.391 0.346 3.    1.056 1.118 0.786 0.625 1.533 0.382
 0.355 0.765 0.778 2.2   1.545 0.7   1.211 1.231 0.636 0.455 2.875 1.308
 0.467 1.909 0.571 0.812 2.429 0.706 2.167 0.263 0.429 2.286 0.828 1.467
 0.478 0.867 0.88  1.444 1.273 0.941 0.684 0.591 0.762 0.529 0.615 0.519
 0.421 0.947 1.167 1.105 0.737 1.263 0.538 1.071 0.357 0.407 0.923 1.455
 0.35  2.273 0.69  0.65  0.167 0.647 1.615 0.545 0.875 1.125 0.462 1.294
 1.357 3.5   1.067 1.286 0.524 1.214 0.273 1.538 0.783 0.235 0.607 2.083
 0.632 0.368 0.444 0.76  0.536 0.438 0.423 2.1   0.565 0.719 0.182 1.75
 0.944 0.581 0.333 0.643 0.87  0.692 1.227 0.938 1.833 0.652 1.462 0.583
 0.679 0.375 1.091 2.75  1.385 1.188 0.261 1.312 0.656 1.235 0.958 0.37
 0.059 0.3   0.613 1.778 0.955 0.864 1.429 0.889 1.438 0.481 0.452 1.13
 0.562 1.048 0.409 0.622 0.688 1.217 0.211 0.606 0.655 0.381 1.053 1.316
 0.575 0.85  0.41  0.609 1.579 0.56  0.276 0.533 0.515 0.308 0.852 0.371
 0.214 0.63  0.231 0.406 0.405 0.349 0.857 0.212 0.543 1.059 0.579 0.387
 0.724 0.415 0.895 0.781 0.412 0.649 0.32  0.345 0.367 0.586 0.324 0.306
 0.676 0.708 0.476 0.29  0.55  0.133 0.344 0.52  0.471 0.842 0.654 0.516
 0.464 1.857 0.629 0.963 0.686 0.323 0.585 0.633 0.92  0.441 0.424 0.59
 0.763 0.207 0.314 2.222 1.45  0.469 3.571 0.696 0.741 0.512 1.043 0.568
 0.548 0.194 0.552 0.448 0.651 0.393 0.657 0.682 0.808 1.032 0.577 0.241
 0.425 0.348 0.318 0.292 0.312 0.486 0.969 0.697 0.389 0.44  0.829 0.677
 0.189 0.259 0.72  0.815 1.15  0.806 0.537 0.721 0.531 0.472 0.594 0.773
 0.826 0.906 0.417 0.758 1.107 0.621 0.458 0.267 0.107 0.459 0.71  0.487
 0.95  0.321 0.414 0.742 0.739 0.767 0.394 0.091 0.926 0.618 0.784 0.208
 1.136 0.897 0.593 0.294 0.718 1.375 0.862 0.439 0.839 0.595 1.208 0.96
 0.514 0.433 0.484 1.08  0.931 0.233 0.971 0.957 1.038 0.48  0.731 1.474
 1.062 0.608 1.103 1.111 0.725 1.647 0.774 0.477 0.238 0.967 0.769 0.576
 0.567 1.042 0.759 0.81  1.069 0.574 0.528 0.278 0.703 0.447 0.028 0.297
 1.037 0.269 0.962 0.905 0.111 0.513 0.31  0.614 0.436 0.45  1.48  0.296
 0.879 1.114 0.262 1.278 0.257 0.517 1.36  0.605 1.04  0.711 0.844 0.623
 0.913 0.756 1.045 0.775 0.645 0.793 0.488 0.511 0.811 0.838 0.641 0.646
 0.972 0.559 0.659 0.525 0.038 0.871 0.919 0.179 0.639 0.077 0.564 0.419
 0.853 0.64  0.848 1.033 0.351 0.675 0.743 0.952 1.077 1.087 1.12  0.885
 0.592 0.893 0.265 1.292 0.457 0.771 0.977 0.053 1.318 0.809 0.674 0.968
 0.316 0.15  0.558 0.485 0.735 0.275 0.19  1.381 0.379 0.689 0.561 0.174
 0.217 1.174 0.766 0.683 0.    0.281 0.28  0.492 0.788 0.865 0.881 0.794
 0.712 0.658 0.891 1.24  0.911 0.946 0.2   0.465 0.489 0.541 0.86  0.628
 0.062 0.795 1.722 0.892 0.578 0.704 0.732 0.587 0.956 0.185 0.341 0.58
 0.378 1.036 0.549 0.491 0.702 0.638 0.176 0.912 0.535 0.521 0.653 0.604
 0.73  0.66  1.139 0.509 1.882 0.463 0.634 0.694 1.148 0.757 1.35  0.362
 0.822 0.755 0.395 0.861 0.738 1.133 0.872 0.886 1.156 0.532 1.03  0.453
 0.821 1.034 0.635 0.154 0.903 1.207 1.31  0.523 0.878 0.744 0.317 0.93
 0.24  0.804 0.761 0.54  0.479 0.551 1.4   0.553 0.426 0.816 0.698 0.227
 0.896 0.792 1.051 0.61  0.884 0.408 0.617 0.935 0.361 0.902 0.78  0.841
 0.796 0.975 1.081 0.707 0.422 0.964 0.172 0.805 0.717 0.347 1.138 0.791
 0.681 0.256 1.609 0.868 0.468 0.432 1.121 0.787 0.596 0.976 1.158 1.028
 0.949 0.451 0.456 0.837 1.212 0.673 0.222 0.171 0.51  0.685 0.396 0.388
 0.644 0.914 1.476 0.46  0.547 1.421 0.825 0.729 0.723 1.471 0.939 0.974
 0.943 0.84  0.627 0.13  1.147 0.327 1.065 0.705 1.37  0.854 0.951 0.569
 0.921 0.776 0.927 0.449 0.475 0.97  1.097 0.612 1.024 1.088 0.648 0.242
 0.661 0.745 1.522 0.843 0.907 1.027 1.783 0.62  0.814 1.026 0.851 1.094
 0.431 1.057 0.226 0.736 0.103 1.29  0.925 0.566 0.161 0.303 1.152 1.65
 0.74  1.194 1.226 0.642 1.323 1.025 1.074 0.508 0.49  0.534 0.83  0.978
 1.206 1.054 0.936 0.932 0.105 1.061 1.031 1.478 0.898 0.672 0.188 0.518
 0.953 1.049 1.086 0.691 0.411 1.029 1.419 1.075 0.206 0.973 1.219 1.162
 0.827 1.321 0.343 0.764 0.125 0.119 1.189 1.179 1.258 1.229 1.073 0.074
 1.458 1.172 1.32  1.108 1.16  0.36  1.391 1.583 0.147 1.115 0.359 1.128
 0.915 0.282 0.162 1.303 0.582 1.382 1.171 0.029 1.161 0.192 1.346 0.473
 0.097 0.82  0.557 0.894 1.135 1.367 1.023 0.544 0.589 0.603 0.442 0.295
 0.434 0.554 0.372 0.527 0.709 0.782 0.797 0.695 0.849 0.768 0.863 0.746
 0.597 0.631 0.678 0.887 0.754 0.687 0.699 0.873 0.716 0.934 0.847 0.244
 0.803 0.772 0.859 1.064 0.819 0.573 0.807 0.79  0.817 0.785 0.823 0.836
 0.616 0.831 1.06  1.122 0.866 0.662 0.869 0.779 0.981 0.293 0.855 0.98
 0.671 1.079 0.693 0.77  1.093 1.018 1.022 0.734 0.753 0.726 0.922 0.948
 1.684 0.918]
-------------------------
Avg_Utilization_Ratio
964
[0.061 0.105 0.    0.76  0.311 0.066 0.048 0.113 0.144 0.217 0.174 0.195
 0.279 0.23  0.078 0.095 0.788 0.08  0.086 0.152 0.626 0.215 0.093 0.099
 0.285 0.658 0.69  0.282 0.562 0.135 0.544 0.757 0.241 0.077 0.018 0.355
 0.145 0.209 0.793 0.074 0.259 0.591 0.687 0.127 0.667 0.843 0.422 0.156
 0.525 0.587 0.211 0.088 0.111 0.044 0.276 0.704 0.656 0.053 0.051 0.467
 0.698 0.067 0.079 0.287 0.36  0.256 0.719 0.198 0.14  0.035 0.619 0.108
 0.062 0.765 0.963 0.524 0.347 0.45  0.232 0.299 0.085 0.059 0.43  0.62
 0.027 0.169 0.058 0.223 0.057 0.513 0.473 0.047 0.106 0.05  0.03  0.615
 0.15  0.407 0.191 0.096 0.176 0.83  0.412 0.678 0.246 0.271 0.114 0.395
 0.406 0.258 0.178 0.941 0.141 0.118 0.119 0.64  0.432 0.612 0.359 0.309
 0.101 0.607 0.512 0.806 0.463 0.77  0.076 0.133 0.037 0.146 0.171 0.069
 0.837 0.055 0.294 0.39  0.19  0.692 0.503 0.251 0.11  0.087 0.214 0.164
 0.049 0.043 0.679 0.098 0.694 0.039 0.199 0.22  0.13  0.202 0.319 0.165
 0.863 0.665 0.598 0.539 0.472 0.064 0.16  0.42  0.713 0.092 0.336 0.666
 0.147 0.987 0.073 0.88  0.28  0.65  0.761 0.072 0.327 0.459 0.252 0.244
 0.291 0.46  0.489 0.482 0.24  0.197 0.866 0.317 0.762 0.162 0.196 0.734
 0.446 0.262 0.042 0.094 0.308 0.68  0.238 0.753 0.877 0.724 0.117 0.638
 0.102 0.131 0.255 0.716 0.609 0.405 0.154 0.605 0.275 0.06  0.07  0.186
 0.648 0.167 0.153 0.79  0.732 0.123 0.221 0.2   0.063 0.785 0.771 0.224
 0.795 0.187 0.583 0.316 0.447 0.625 0.514 0.557 0.955 0.867 0.846 0.756
 0.31  0.373 0.935 0.155 0.435 0.932 0.829 0.953 0.188 0.82  0.616 0.595
 0.521 0.268 0.09  0.885 0.546 0.569 0.183 0.639 0.329 0.274 0.161 0.865
 0.73  0.134 0.137 0.478 0.361 0.312 0.036 0.243 0.805 0.168 0.103 0.179
 0.529 0.227 0.706 0.075 0.804 0.708 0.766 0.381 0.046 0.428 0.112 0.041
 0.85  0.517 0.72  0.056 0.548 0.436 0.201 0.523 0.081 0.403 0.671 0.752
 0.194 0.657 0.476 0.729 0.911 0.78  0.35  0.636 0.632 0.226 0.798 0.781
 0.148 0.029 0.12  0.651 0.257 0.204 0.231 0.18  0.617 0.458 0.142 0.054
 0.374 0.491 0.216 0.572 0.32  0.212 0.545 0.314 0.393 0.599 0.33  0.663
 0.159 0.185 0.371 0.506 0.448 0.128 0.269 0.333 0.125 0.091 0.53  0.303
 0.682 0.456 0.584 0.337 0.51  0.819 0.543 0.81  0.189 0.213 0.068 0.033
 0.261 0.071 0.41  0.712 0.515 0.593 0.203 0.286 0.457 0.654 0.122 0.345
 0.825 0.1   0.206 0.976 0.17  0.292 0.139 0.109 0.278 0.324 0.745 0.402
 0.397 0.045 0.177 0.611 0.284 0.578 0.318 0.803 0.594 0.684 0.019 0.722
 0.032 0.115 0.511 0.306 0.104 0.219 0.709 0.621 0.082 0.553 0.465 0.707
 0.166 0.859 0.677 0.253 0.586 0.425 0.801 0.084 0.645 0.149 0.343 0.878
 0.304 0.814 0.342 0.848 0.163 0.222 0.469 0.519 0.272 0.325 0.702 0.181
 0.693 0.809 0.479 0.468 0.356 0.811 0.34  0.63  0.372 0.637 0.507 0.749
 0.129 0.674 0.794 0.582 0.464 0.065 0.315 0.691 0.501 0.218 0.56  0.175
 0.5   0.378 0.613 0.313 0.727 0.239 0.603 0.57  0.27  0.034 0.247 0.737
 0.124 0.589 0.534 0.237 0.136 0.789 0.777 0.52  0.653 0.016 0.346 0.721
 0.675 0.138 0.266 0.442 0.326 0.301 0.717 0.023 0.025 0.25  0.281 0.796
 0.296 0.334 0.471 0.571 0.352 0.143 0.608 0.775 0.67  0.321 0.696 0.689
 0.624 0.408 0.157 0.439 0.672 0.302 0.225 0.357 0.527 0.431 0.831 0.755
 0.786 0.026 0.659 0.416 0.451 0.052 0.404 0.394 0.391 0.736 0.854 0.791
 0.126 0.363 0.874 0.297 0.341 0.344 0.208 0.733 0.234 0.116 0.828 0.365
 0.182 0.384 0.526 0.396 0.031 0.516 0.748 0.354 0.349 0.233 0.497 0.248
 0.339 0.132 0.588 0.764 0.705 0.575 0.536 0.021 0.205 0.835 0.549 0.74
 0.889 0.083 0.596 0.735 0.827 0.522 0.711 0.377 0.351 0.242 0.366 0.697
 0.328 0.778 0.743 0.492 0.715 0.623 0.488 0.263 0.568 0.089 0.779 0.47
 0.264 0.415 0.58  0.452 0.289 0.635 0.229 0.75  0.695 0.6   0.784 0.173
 0.822 0.812 0.265 0.574 0.475 0.295 0.662 0.3   0.566 0.994 0.669 0.04
 0.856 0.532 0.461 0.559 0.331 0.602 0.445 0.466 0.597 0.646 0.474 0.305
 0.556 0.742 0.631 0.718 0.606 0.647 0.758 0.644 0.499 0.873 0.245 0.487
 0.558 0.49  0.121 0.869 0.797 0.437 0.772 0.7   0.934 0.857 0.015 0.547
 0.353 0.699 0.495 0.409 0.29  0.293 0.494 0.477 0.235 0.894 0.417 0.881
 0.207 0.928 0.484 0.852 0.038 0.228 0.643 0.655 0.283 0.642 0.581 0.379
 0.542 0.579 0.434 0.44  0.535 0.913 0.776 0.551 0.401 0.273 0.172 0.375
 0.714 0.668 0.362 0.833 0.633 0.783 0.614 0.763 0.844 0.744 0.61  0.453
 0.481 0.563 0.418 0.399 0.348 0.59  0.413 0.498 0.267 0.398 0.386 0.815
 0.249 0.429 0.799 0.751 0.821 0.323 0.107 0.807 0.816 0.99  0.573 0.449
 0.883 0.768 0.925 0.773 0.38  0.604 0.411 0.832 0.184 0.438 0.552 0.792
 0.376 0.641 0.37  0.158 0.426 0.277 0.493 0.629 0.02  0.236 0.21  0.726
 0.531 0.92  0.949 0.628 0.731 0.518 0.358 0.554 0.893 0.943 0.944 0.601
 0.307 0.725 0.368 0.924 0.661 0.151 0.769 0.576 0.424 0.664 0.024 0.922
 0.537 0.884 0.483 0.462 0.899 0.622 0.013 0.954 0.683 0.192 0.774 0.824
 0.858 0.984 0.414 0.561 0.879 0.504 0.509 0.968 0.918 0.836 0.332 0.028
 0.938 0.541 0.48  0.533 0.528 0.254 0.423 0.288 0.369 0.93  0.813 0.915
 0.364 0.688 0.902 0.868 0.942 0.567 0.022 0.703 0.585 0.906 0.754 0.855
 0.839 0.681 0.298 0.872 0.455 0.929 0.008 0.388 0.912 0.322 0.853 0.454
 0.685 0.747 0.66  0.904 0.738 0.485 0.496 0.577 0.927 0.746 0.565 0.634
 0.887 0.845 0.951 0.444 0.427 0.962 0.564 0.851 0.897 0.876 0.421 0.012
 0.649 0.759 0.84  0.842 0.87  0.097 0.983 0.433 0.387 0.441 0.767 0.903
 0.592 0.895 0.896 0.652 0.8   0.4   0.017 0.862 0.849 0.676 0.999 0.921
 0.673 0.948 0.004 0.864 0.55  0.787 0.392 0.443 0.505 0.538 0.71  0.367
 0.985 0.741 0.826 0.817 0.508 0.26  0.618 0.94  0.916 0.823 0.9   0.193
 0.419 0.841 0.919 0.959 0.723 0.486 0.54  0.905 0.385 0.782 0.006 0.502
 0.802 0.875 0.931 0.011 0.926 0.728 0.382 0.335 0.891 0.871 0.701 0.739
 0.383 0.834 0.898 0.389 0.901 0.988 0.907 0.686 0.86  0.882 0.861 0.917
 0.555 0.808 0.338 0.96  0.972 0.01  0.847 0.964 0.886 0.995 0.818 0.958
 0.627 0.992 0.952 0.91  0.978 0.973 0.971 0.945 0.914 0.977 0.956 0.909
 0.005 0.007 0.014 0.009]
-------------------------
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
1704
[9.3448e-05 5.6861e-05 2.1081e-05 ... 8.9586e-04 9.9438e-01 9.9662e-01]
-------------------------
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
640
[9.99910e-01 9.99940e-01 9.99980e-01 9.99870e-01 9.99880e-01 9.99960e-01
 9.99700e-01 9.99810e-01 9.99800e-01 9.99950e-01 9.99900e-01 9.99890e-01
 9.99760e-01 9.99850e-01 9.99830e-01 3.83630e-03 9.99930e-01 9.99790e-01
 9.99990e-01 9.99780e-01 9.99640e-01 2.19708e-03 9.99840e-01 9.99680e-01
 9.99690e-01 9.99970e-01 9.72000e-03 9.99820e-01 3.29379e-03 9.99770e-01
 1.77065e-03 9.99720e-01 9.99730e-01 9.99710e-01 9.99920e-01 2.36635e-03
 9.99670e-01 9.99660e-01 2.99743e-03 9.99630e-01 9.99650e-01 5.53000e-03
 3.28187e-03 3.60825e-03 4.81999e-03 9.99610e-01 3.19072e-03 1.30800e-02
 6.62000e-03 2.72694e-03 2.80059e-03 2.82527e-03 9.99860e-01 3.41249e-03
 5.18000e-03 5.68000e-03 3.23086e-03 9.99410e-01 3.26713e-03 7.50000e-03
 3.94582e-03 1.78300e-02 9.39000e-03 3.38788e-03 8.31000e-03 9.99470e-01
 3.17458e-03 5.03000e-03 9.99500e-01 2.39178e-03 9.99750e-01 3.20374e-03
 3.26498e-03 5.33000e-03 2.85845e-03 9.27000e-03 2.84500e-02 8.76000e-03
 5.38000e-03 5.34000e-03 4.53174e-03 3.08778e-03 5.04000e-03 9.99530e-01
 3.59603e-03 2.94997e-03 7.77000e-03 5.69000e-03 9.99740e-01 3.03398e-03
 7.93000e-03 8.44000e-03 2.52933e-03 7.14000e-03 8.17000e-03 1.03500e-02
 1.09800e-02 3.50838e-03 1.06800e-02 8.54000e-03 9.99620e-01 1.05900e-02
 9.99560e-01 8.71000e-03 9.99520e-01 4.55805e-03 4.84967e-03 5.10000e-03
 8.57000e-03 1.95100e-02 3.68792e-03 9.99600e-01 5.89000e-03 1.91647e-03
 5.01000e-03 9.99590e-01 6.22000e-03 3.26528e-03 8.89000e-03 1.57100e-02
 5.05000e-03 9.10000e-03 7.64000e-03 1.02900e-02 1.42400e-02 6.05000e-03
 5.20000e-03 1.46500e-02 2.86800e-02 8.96000e-03 9.99460e-01 5.15000e-03
 3.19400e-02 9.99390e-01 9.99480e-01 9.99430e-01 9.99540e-01 9.99250e-01
 1.89800e-02 1.04200e-02 9.99570e-01 1.12600e-02 8.63000e-03 1.62500e-02
 4.87126e-03 2.82000e-02 9.99420e-01 9.99450e-01 9.99510e-01 6.26000e-03
 1.38400e-02 1.75068e-03 9.99370e-01 9.99220e-01 2.76400e-03 2.98315e-03
 9.99380e-01 2.94141e-03 1.13100e-02 6.06000e-03 3.65621e-03 3.10334e-03
 1.27700e-02 3.05189e-03 2.70308e-03 2.12041e-03 1.68100e-02 2.11807e-03
 3.45754e-03 1.89674e-03 9.69000e-03 1.55634e-03 4.85493e-03 2.80488e-03
 2.19052e-03 2.31656e-03 1.64579e-03 2.62820e-03 1.60016e-03 9.99350e-01
 1.86317e-03 9.99360e-01 3.02546e-03 9.99290e-01 1.88031e-03 1.91630e-03
 1.84351e-03 1.55735e-03 9.99080e-01 2.31842e-03 1.48500e-02 1.55100e-03
 1.84100e-02 9.99130e-01 9.99140e-01 9.99400e-01 3.60858e-03 9.99260e-01
 9.99100e-01 1.11805e-03 3.74779e-03 4.18811e-03 9.99440e-01 3.55470e-03
 1.27462e-03 9.99230e-01 2.25216e-03 9.99070e-01 4.53868e-03 9.98980e-01
 9.99020e-01 9.99210e-01 2.86097e-03 1.07750e-03 1.81217e-03 9.99550e-01
 9.99490e-01 9.99300e-01 9.99340e-01 9.98950e-01 9.99160e-01 3.61108e-03
 1.06612e-03 1.87387e-03 9.99580e-01 1.06650e-03 1.38100e-02 9.99050e-01
 9.98710e-01 8.02750e-04 9.99310e-01 1.56939e-03 2.51777e-03 1.52587e-03
 9.98770e-01 1.79304e-03 2.88892e-03 9.99190e-01 1.47930e-03 8.42000e-03
 4.99338e-03 1.75907e-03 9.99270e-01 9.99180e-01 3.13909e-03 2.05937e-03
 5.42000e-03 8.24690e-04 1.87699e-03 8.82310e-04 9.99170e-01 9.98970e-01
 6.09000e-03 3.61075e-03 9.98680e-01 1.67742e-03 1.09300e-02 6.07650e-04
 9.59770e-04 2.67667e-03 5.59000e-03 1.69532e-03 6.00000e-03 5.13000e-03
 1.82139e-03 1.28822e-03 1.87266e-03 1.30267e-03 5.83000e-03 9.80360e-04
 5.48000e-03 9.70260e-04 9.00530e-04 4.07548e-03 9.13000e-03 1.06129e-03
 1.19984e-03 6.14140e-04 8.39000e-03 3.61221e-03 8.68000e-03 1.43600e-02
 1.98853e-03 2.57200e-02 3.05523e-03 5.82000e-03 1.26100e-02 3.19278e-03
 1.93323e-03 4.79863e-03 5.36000e-03 4.94341e-03 6.68000e-03 7.49000e-03
 2.19584e-03 2.23444e-03 8.47000e-03 2.01684e-03 2.58725e-03 4.72896e-03
 2.07303e-03 2.60048e-03 3.54449e-03 5.52850e-04 2.96843e-03 7.89000e-03
 3.05631e-03 2.90471e-03 3.31000e-02 2.21086e-03 1.22089e-03 9.33700e-04
 6.70000e-03 6.11000e-03 1.56953e-03 3.25077e-03 3.61426e-03 6.29000e-03
 3.02519e-03 1.81320e-03 1.59436e-03 9.97000e-03 3.05345e-03 4.41892e-03
 1.49992e-03 9.98040e-04 1.01900e-02 5.72000e-03 9.28000e-03 3.14112e-03
 2.66100e-02 2.11827e-03 9.74000e-03 3.13880e-03 2.12180e-03 1.65524e-03
 1.83900e-02 9.99060e-01 4.19980e-04 9.70000e-04 2.34362e-03 7.30000e-03
 1.88108e-03 1.98404e-03 2.11089e-03 1.93489e-03 3.10348e-03 5.70000e-03
 1.83300e-02 5.40900e-02 3.82633e-03 8.80000e-03 4.87428e-03 9.87500e-04
 4.51007e-03 4.95524e-03 7.56000e-03 4.25916e-03 2.59482e-03 6.03000e-03
 5.27000e-03 3.34333e-03 5.07000e-03 2.95827e-03 1.39200e-02 6.78900e-04
 9.02000e-03 3.16131e-03 1.72900e-02 1.67300e-02 1.48700e-02 3.23494e-03
 3.69001e-03 2.91040e-03 1.28895e-03 3.17639e-03 2.95637e-03 1.29000e-02
 2.67072e-03 2.00300e-03 2.64844e-03 6.10000e-03 7.63820e-04 3.42939e-03
 1.63100e-02 9.37000e-03 3.26213e-03 9.67430e-04 6.80000e-03 2.50084e-03
 2.69029e-03 1.68378e-03 1.14090e-03 9.53000e-03 1.03900e-02 9.78870e-04
 7.32000e-03 1.33669e-03 2.11605e-03 2.73400e-02 2.02158e-03 2.70332e-03
 1.47200e-02 2.99329e-03 2.99357e-03 1.84600e-02 6.31740e-04 2.42697e-03
 1.53200e-02 1.65792e-03 3.16190e-03 3.64906e-03 6.74000e-03 2.00900e-03
 4.24232e-03 1.33300e-02 2.01294e-03 9.99330e-01 1.58385e-03 4.43518e-03
 4.53431e-03 9.54000e-03 8.36000e-03 4.70647e-03 3.48354e-03 1.59907e-03
 1.54215e-03 2.77723e-03 2.93400e-02 1.19106e-03 5.75000e-03 3.88140e-03
 8.08000e-03 5.61810e-04 2.48146e-03 3.22004e-03 2.75900e-02 4.31907e-03
 2.67481e-03 1.89625e-03 8.11000e-03 1.37000e-02 4.16897e-03 2.84317e-03
 8.71710e-04 1.00312e-03 2.56930e-03 1.64594e-03 2.83400e-02 6.98280e-04
 3.54519e-03 1.00677e-03 6.19800e-04 4.45417e-03 4.05509e-03 1.88594e-03
 2.55630e-03 2.27837e-03 3.34364e-03 3.38757e-03 7.40000e-03 5.85000e-03
 6.43000e-03 7.07000e-03 2.94187e-03 4.57826e-03 3.46592e-03 7.53000e-03
 4.74303e-03 6.78000e-03 6.17270e-04 4.81678e-03 9.05000e-03 5.58750e-04
 5.79790e-04 8.33000e-03 4.70886e-03 4.80500e-02 3.75265e-03 4.43803e-03
 2.71291e-03 2.52095e-03 3.23056e-03 1.29704e-03 3.23171e-03 6.25370e-04
 8.29000e-03 4.58119e-03 2.20011e-03 5.73000e-03 8.37000e-03 5.51000e-03
 4.45616e-03 2.09822e-03 6.60300e-04 1.56700e-02 4.41277e-03 4.36631e-03
 4.62370e-04 1.06300e-02 9.51000e-03 8.48000e-03 1.08742e-03 1.98835e-03
 9.68000e-03 6.44000e-03 3.03426e-03 2.65408e-03 1.26699e-03 5.61600e-04
 2.80463e-03 1.09664e-03 1.40900e-02 8.02000e-03 1.76584e-03 6.21000e-03

For such values as ``` Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category``` One-Hot encoding will be used.

```Attrition_Flag, Gender``` binary values

In [106]:
print(columns)
columns.remove('Attrition_Flag')

['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [107]:
df.drop("CLIENTNUM", axis=1, inplace=True)

In [108]:
attrition = pd.get_dummies(df.Attrition_Flag, prefix="Attrition", drop_first=True, dtype=float)
attrition.rename(columns={"Attrition_Existing Customer": "Existing_Customer"}, inplace=True)

In [109]:
df.head()
df = pd.concat([df.drop('Attrition_Flag', axis=1), attrition], axis=1)

In [110]:
df.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Existing_Customer
0,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991,1.0
1,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,1.0
2,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998,1.0
3,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987,1.0
4,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998,1.0

In [111]:
gender = pd.get_dummies(df.Gender, prefix="Gender", drop_first=True, dtype=float) #1 is man
df.insert(1, 'Male', gender)

In [112]:
df.drop(['Gender'], axis=1, inplace=True)

In [113]:
df.head()

,Customer_Age,Male,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Existing_Customer
0,45,1.0,3,High School,Married,$60K - $80K,Blue,39,5,1,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991,1.0
1,49,0.0,5,Graduate,Single,Less than $40K,Blue,44,6,1,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,1.0
2,51,1.0,3,Graduate,Married,$80K - $120K,Blue,36,4,1,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998,1.0
3,40,0.0,4,High School,Unknown,Less than $40K,Blue,34,3,4,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987,1.0
4,40,1.0,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998,1.0

In [114]:
dependents = pd.get_dummies(df.Dependent_count, prefix="Dependents", dtype=float)

In [115]:
df[["Income_Category"]].value_counts()

Income_Category
Less than $40K     3561
$40K - $60K        1790
$80K - $120K       1535
$60K - $80K        1402
Unknown            1112
$120K +             727
Name: count, dtype: int64

In [116]:
df.loc[(df["Income_Category"] == "Less than $40K") & (df["Male"]==0)].describe()

,Customer_Age,Male,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Existing_Customer
count,3284.000000,3284.0,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000,3284.000000
mean,46.354141,0.0,2.322168,35.876066,3.816991,2.359622,2.400731,3684.819945,1139.380024,2545.439921,0.751780,4338.661389,66.331912,0.714826,0.378487,0.176405,0.823595,0.822777
std,7.934416,0.0,1.314085,7.846311,1.547404,1.028424,1.097811,2718.150379,824.709008,2728.273248,0.198974,2981.165992,21.836656,0.225126,0.298283,0.379770,0.379770,0.381915
min,26.000000,0.0,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,10.000000,0.046000,510.000000,13.000000,0.028000,0.000000,0.000008,0.000462,0.000000
25%,41.000000,0.0,1.000000,32.000000,3.000000,2.000000,2.000000,1992.500000,0.000000,823.750000,0.630000,2429.000000,48.000000,0.593000,0.000000,0.000098,0.999650,1.000000
50%,46.000000,0.0,2.000000,36.000000,4.000000,2.000000,2.000000,2730.000000,1235.000000,1446.500000,0.733000,4126.500000,70.000000,0.711000,0.397000,0.000185,0.999820,1.000000
75%,52.000000,0.0,3.000000,40.000000,5.000000,3.000000,3.000000,4182.500000,1779.000000,3140.250000,0.849000,4754.250000,81.000000,0.825000,0.634250,0.000347,0.999900,1.000000
max,67.000000,0.0,5.000000,56.000000,6.000000,6.000000,6.000000,15987.000000,2517.000000,15987.000000,2.368000,17437.000000,131.000000,3.714000,0.995000,0.999540,0.999990,1.000000

In [117]:
for c in columns:
    try:
        print(df[c].value_counts()["Unknown"], c)
    except:
        pass

1519 Education_Level
749 Marital_Status
1112 Income_Category

In [118]:
#get dummy values
#split test and train
#impute in train 
# Unknown == 1, group by other features, and then put them to other groups but how??

df.head()

,Customer_Age,Male,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Existing_Customer
0,45,1.0,3,High School,Married,$60K - $80K,Blue,39,5,1,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991,1.0
1,49,0.0,5,Graduate,Single,Less than $40K,Blue,44,6,1,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,1.0
2,51,1.0,3,Graduate,Married,$80K - $120K,Blue,36,4,1,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998,1.0
3,40,0.0,4,High School,Unknown,Less than $40K,Blue,34,3,4,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987,1.0
4,40,1.0,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998,1.0

In [119]:
#train a model to predict unknown values

In [120]:
df_1 = df.drop(columns=["Existing_Customer", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1"])

In [134]:
print(df_1.dtypes)

Customer_Age                  int64
Male                        float64
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

In [121]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X = df_1.drop("Income_Category", axis=1)
y = df_1["Income_Category"]
X_train, X_test, y_train, y_test = train_test_split(X,y , random_state=42,  test_size=0.3)

ValueError: could not convert string to float: 'Post-Graduate'